body{
	padding: 10px;
}

h1{
	text-align: center;
}

h3{
	margin-bottom: 0px;

}

h4{
	margin-top: 2px;
}

table{
	border: 1px solid black;
	border-collapse: collapse;
	margin: 10px 0px;
}

th, td{
	padding: 5px;
	text-align: center;
	border: 1px solid black;
}

input{
	margin-bottom: 5px;
}

option{
	font-size: 16px;
}

.prod_box{
	display: inline-block;
	width: 15%;
	text-align: center;
	margin-right: 3%;
	vertical-align: top;
}

.prod_box img{
	width: 100%;
	height: 150px;
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
}

#links{
	text-align: center;

}

#links a{
	letter-spacing: 2px;
	margin-right: 5px;
}

#left_product{
	display: inline-block;
	width: 15%;
}

#left_product input{
	display: block;
}

#right_product{
	display: inline-block;
	width: 80%;
	vertical-align: top;
}

#h3_cust{
	margin-bottom: 5px;
	text-align: center;
}

#top_cust{
	width: 95%;
	margin-left: 37%;
}


#top_cust input {
	display: inline-block;
	width: 20%;
}

#top_cust button {
	display: inline-block;
	margin-left: 5px;
}

#top_order{
	width: 95%;
	margin-left: 38%;
}

#top_order input{
	width: 30px;
	border-radius: 5px;
}

#top_order button{
	display: block;
	margin-left: 18%;
}

#search_bar{
	margin-top: 5%;
	margin-left: 69.5%;
	width: 20%;
}

#cust_table{
	width: 80%;
	margin-left: 10%;
}

#customer{
	width: 16%;
}

#order{
	width: 15%;
}

#show_prod{
	width: 30%;
	margin-left: 36%;
	text-align: center;
}

#show_prod img{
	width: 100%;
}

#show_prod h3{
	margin-bottom: 20px;
}
